.grid {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -150px;
}

.cell {
    height: 100px;
    border: 1px solid white;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.winner {
    color: rgb(0, 229, 255);
    font-weight: bold;
}

h1 {
    font-size: 50px;
    color: rgb(0, 185, 252);
    text-align: center;
}

body {
    background-image: url("chili.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 110%;
}

button.reset {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.scoreboard {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
    background-color: #FFC300;
    /* yellow */
    border-radius: 10px;
    padding: 10px;
}

.player-score {
    text-align: center;
    color: #FFF;
    /* white */
}

.player-score h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    text-shadow: 2px 2px #000;
    /* black */
}

.player-score span {
    font-size: 36px;
    font-weight: bold;
    text-shadow: 2px 2px #000;
    /* black */
}